name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            ninja-build \
            libvulkan-dev \
            vulkan-sdk

      - name: Configure
        run: |
          make configure

      - name: Build Drakon Library
        run: |
          make build

      - name: Build Drakon Examples
        run: |
          make build/all/examples

      - name: Test
        run: |
          make test

      - name: Upload examples
        uses: actions/upload-artifact@v6
        with:
          name: drakon-examples
          path: |
            build/examples/exokomodo.drakon.examples.*
            examples/*/shaders/**
